{{>header}}
<div class="content-title-infracciones">
  <h1 class="title">Infracciones</h1>
  <a href="/infracciones/agregar" class="boton-agregar"><i class="fas fa-plus-circle"></i>Agregar</a>
</div>
<table class="table table-hover">
  <thead>
    <tr style="text-align: center;">
      <th scope="col">ID</th>
      <th scope="col">Fecha</th>
      <th scope="col">Placa</th>
      <th scope="col">Descripción</th>
      <th scope="col">Tipo Sanción</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each infracciones}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.fecha}}</td>
      <td>{{this.vehiculo.placa}}</td>
      <td>{{this.descripcion}}</td>
      <td>{{this.tipo_sancion.nombre}}</td>
      <td>
        <div style="text-align: center;">
          <a href="/infracciones/editar/{{this.id}}"> <i style="color: #dbdb19" class="fas fa-edit"></i> </a>
          <a onclick="eliminar({{this.id}})"> <i style="color: #e70909; cursor: pointer" class="fas fa-trash-alt"></i>
          </a>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  function eliminar(id) {
    const resp = confirm("¿Estás seguro que deseas eliminar la infracción?");
    if (resp) {
      fetch('/infracciones/' + id, { method: 'DELETE' })
        .then(res => {
          alert('Infracción eliminadad correctamente')
          location.reload();
        })
        .catch( err => console.error("Error al eliminar infracción: "+err) )
    } else {
      console.log("no")
    }
  }
</script>
{{>footer}}